#Localstack token
LOCALSTACK_AUTH_TOKEN=

#Authentication secrets
JWT_SECRET=
JWT_REFRESH_SECRET=

#Administrative database credentials
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

#Dynamo session table name
DYNAMODB_TABLE_NAME=user-auth-tokens

#Datadog info
DD_TRACE_ENABLED=false
DD_API_KEY=
DD_SITE=

#AWS info
AWS_ENDPOINT_URL=http://localstack:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
AWS_ROLE_ARN=

#Lambda function params
FUNCTION_NAME=user-auth-function
FUNCTION_BINARY_NAME=bootstrap
FUNCTION_ZIP_NAME=function.zip

#Lambda local port
SAM_PORT=8081
